<html ng-app="harnessing">
<head>
    <meta charset="UTF-8">
</head>

<header>
    <body ng-controller="HarnessingCtrl as ctrl">
        <button ng-click="novosTipos()">Novos tipos</button>
        <div ng-repeat="log in console">
            <h3>Debugging as {{log.type || "Tipo Padrão"}}</h3>
            <div debug="log.value" type="{{log.type}}" inner-type={{log.innerType}}></div>
        </div>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/underscore/underscore.js"></script>
        <script src="harnessing-compile.js"></script>
    </body>
</header>
</html>